.calculator {
	background-color: #183b56;
	color: #b9cde4;
	padding: 0 5%;
	align-items: center;
}

.one-dollar-image {
	background-image: url("../assets/asset\ 40.png");
	float: right;
	margin-top: 25px;
	width: 600px;
	height: 555px;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.one-dollar-image img {
	width: 50%;
}

.calculator-text {
	padding: 7% 0;
}

.calculator-text h3 {
	color: #fff;
	font-size: 40px;
	font-weight: 700;
}

.text-h5 {
	margin: 25px 0;
	font-size: 20px;
}

.ul-panel h3 {
	font-size: 20px;
}

.ul-panel ul {
	columns: 2;
	/* width: 550px; */
	margin: 20px 0 60px 15px;
}

.ul-panel ul li {
	list-style: disc !important;
	padding: 5px 0;
	margin-right: 25px;
	color: #b9cde4;
}

.buttons-calculator {
	display: flex;
	align-items: center;
}

.text-or {
	margin: 0 8px 0 15px;
}

.learn-more-calc {
	color: #b9cde4;
}

.price-1-dollar {
	position: absolute;
}

.startingfrom-perresponse {
	color: #183b56;
	font-size: 17px;
	font-weight: 700;
}

.price-dollar {
	white-space: nowrap;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.usd {
	color: #8ba6c0;
	font-size: 22px;
	font-weight: 700;
	display: inline-block;
}

.one-dollar {
	color: #2294ed;
	font-size: 60px;
	font-weight: 600;
	display: inline-block;
	font-family: Averta PE,sans-serif;
	height: 65px;
	margin-left: -2px;
}

@media (max-width: 1150px) {
	.ul-panel ul {
		columns: 1;
	}

	.one-dollar-image {
		margin-top: 70px;
	}
}

@media (max-width: 1000px) {
	.ul-panel ul {
		columns: 2;
	}

	.one-dollar-image {
		float: none;
		width: 75.4vw;
		height: 69.8vw;
		margin-left: 5%;
	}

	.buttons-calculator, .calculator-text h3 {
		justify-content: center;
		text-align: center;
	}

	@media (max-width:480px) {
		.ul-panel ul {
			columns: 1;
		}

		.buttons-calculator {
			display: block;
		}

		.text-or {
			margin: 25px 0;
		}

		.startingfrom-perresponse {
			font-size: 12px;
		}

		.usd {
			font-size: 15px;
		}
		
		.one-dollar {
			font-size: 42px;
			height: 45px;
		}
	}
}