.getstarted-image-text {
	padding: 3% 5%;
	margin-top: 35px;
}

.getstarted-image {
	width: 600px;
	float: right;
	padding: 0 0 0 10%;
}

.getstarted-image img {
	width: 100%;
}

.getstarted-text {
	width: 50vw;
}

.getstarted-text h2 {
	font-size: 48px;
	color: #183b56;
	line-height: 57.6px;
	padding-top: 40px;
	font-family: "Averta PE", sans-serif;
	font-weight: 600;
}

.getstarted-text p {
	padding: 15px 10px 60px 0;
	font-size: 23px;
	font-weight: 300;
	color: #183b56;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}