.getstarted-image-text {
	padding: 3% 5%;
	margin-top: 35px;
	background-color: #fff;
}

.getstarted-image {
	width: 575px;
	float: right;
}

.getstarted-image img {
	width: 100%;
}

.getstarted-text {
	width: 40vw;
}

.getstarted-text h2 {
	font-size: 48px;
	color: #183b56;
	line-height: 57.6px;
	padding-top: 7%;
	font-family: "Averta PE", sans-serif;
	font-weight: 600;
}

.getstarted-text p {
	padding: 15px 10px 60px 0;
	font-size: 23px;
	font-weight: 300;
	color: #183b56;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

@media (max-width: 990px) {
	.getstarted-image-text {
		display: grid;
		justify-content: center;
	}

	.getstarted-image {
		float: none;
		width: 75vw;
	}

	.getstarted-text {
		width: 75vw;
		text-align: center;
	}
}