* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	/* font-size: 14px; */
	font-weight: 500;
	letter-spacing: .5px;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav {
	display: flex;
	/* width: 71px; */
	padding: 25px 20px 0 20px;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

.titlecontainer {
	display: flex;
	width: 545px;
	margin-left: 5vw;
}

.become-a-tester {
	color: #183b56;
	background-color: rgb(222, 237, 249);
	padding:5px 16px 8px 15px;
	border-radius: 9px;
	margin-top: -2px;
	margin-left: 20px;
}

.nav-and-sign {
	display: flex;
	align-items: center;
}

.nav-menu {
	display: inline-flex;
}

.nav-menu-item {
	padding: 12px 15px;
}

.nav-menu-item a, .dropdown {
	color: #183b56;
}

.nav-menu-item a:hover, .dropdown:hover {
	color: #2294ed;
}

.dropdown-menu {
	display: none;
	position: absolute;
	margin-top: 13px;
	width: 180px;
	z-index: 2;
}

.dropdown-menu li {
	padding: 13px 20px;
	background-color: #fff;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.sign {
	padding-right: 5vw;
	display: flex;
	align-items: center;
}

.white-button-blue-text {
	padding: 12px 24px;
	color: #183b56;
	border: 1px solid #b9cde4;
	border-radius: 4px;
	margin: 0 10px;
	font-weight: 700;
}

.white-button-blue-text:hover {
	border: 1px solid #2294ed;
	color: #2294ed;
}

.blue-button-white-text {
	background-color: #2294ed;
	border: 1px solid #2294ed;
	border-radius: 4px;
	padding: 12px 24px;
	color: #ffffff;
	font-weight: 700;
}

.blue-button-white-text:hover {
	background-color: #0061ad;
	border: 1px solid #0061ad;
}