.testimonial {
	display: grid;
	grid-template-columns: 36vw 40vw;
	grid-gap: 0 60px;
	justify-content: center;
	align-items: center;
	margin: 90px 8%;
}

.testimonial-image img {
	width: 100%;
}

.testimonial-text {
	display: grid;
	margin-right: 20px;
}

.testimonial h3, h2, p, label {
	color: #183b56;
}

.testimonial h3 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 50px;
}

.testimonial h2 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
}

.testimonial p {
	font-weight: 400;
	font-size: 18px;
}

.c-logo {
	height: 30px;
	margin: 25px 0;
}

.h3-text {
	font-size: 20px;
	font-weight: 700;
}

.ceo {
	margin-top: 25px;
	display: grid;
	grid-template-columns: 20px auto;
}

.ceo img {
	grid-row: 1/3;
	width: 50px;
}

.name-ceo {
	height: fit-content;
	font-size: 20px;
	font-weight: 700;
	margin: 5px 0 0 40px;
}

.position {
	height: fit-content;
	font-size: 12px;
	font-weight: 400;
	margin-left: 40px;
}

.design-profesionals-image {
	margin-top: 15%;
}

.marketers {
	display: block;
	margin-top: 0;
	margin-bottom: 130px;
}

.marketers-image img {
	float: right;
	margin-top: 25px;
	width: 41vw;
}

.marketers-text {
	width: 40vw;
	margin-right: 60px;
	display: grid;
}

@media (max-width:1100px) {
	.marketers-image img{
		margin-top: 50px;
	}
}

@media (max-width:1000px) {
	.marketers-image img{
		margin-top: 100px;
	}
}

@media (max-width:840px) {
	.testimonial {
		display: grid;
		grid-template-columns: 80vw;
	}

	.marketers-image img {
		float: none;
	}

	.marketers-text, .marketers-image img {
		width: 80vw;
	}
}